@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
}

form#survey-form{
   /*border: 1px solid red;*/
   margin: 0 auto;
   max-width: 800px;
   padding: 15px;
   background: #5890d0 url(../images/background.jpg) no-repeat 0px -70px;
}

form#survey-form h1{
	font-size: 2em;
	/*border: 1px solid red;*/
	/*text-align: center;*/
	margin-top: -1px;
	color: #fff;
}

form#survey-form p{
	/*border: 1px solid red;*/
	margin: -10px 0px 12px 0px;
	color: #fff;
	font-size: 1.5em;
}

form#survey-form h2{
   /*border: 1px solid red;*/
   margin: 30px 0px 5px 0px;
   color: #fff;
   font-size: 1em;
}

form#survey-form label{
	display: inline-block;
	margin: 0px 0px 6px 0px;
	color: rgba(255,255,255,0.8);
}

form#survey-form fieldset{
	border: 1px solid rgba(255,255,255,0.4);
	margin: 15px 0px 15px 0px;
	padding: 0px 10px 10px 20px;
}

form#survey-form legend{
	color: #254581;
	font-size: 0.9em;
}

form#survey-form textarea{
	font-size: 0.9em;
	padding: 5px;
	border: none;
	color: #264581;
	background-color: rgba(255,255,255,0.8);
	/*height: 40%;*/
	width: 80%;
}

form#survey-form textarea:focus{
	background-color: #fff;
}

form#survey-form select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-appearance: none;
	font-size: 0.9em;
	background: #588fd0 url(../images/icons_arrows.svg) no-repeat right 8px;
    background-size: 30px 20px;
    color: #ffd34c;	
    padding: 7px 45px 7px 10px;
    border: 1px solid #fff;
}

form#survey-form select::-ms-expand{
   display: none;
}

form#survey-form input[type=checkbox],
form#survey-form input[type=radio]{
   width: 20px;
   margin: 0;
   padding: 0;
   opacity: 0;
}

form#survey-form input[type=checkbox] + label,
form#survey-form input[type=radio] + label{
	/*border: 1px solid red;*/
	display: inline-block;
	margin-left: -20px;
	padding: 4px 0px 0px 27px;
	background: url(../images/icons_check_radio.svg) no-repeat;
	background-size: 20px 80px;
	height: 16px;
}

form#survey-form input[type=checkbox] + label{
	background-position: 0px 0px;
}

form#survey-form input[type=radio] + label{
	background-position: 0px -40px;
}

form#survey-form input:checked + label {
	color: #ffd34c;
}

form#survey-form input[type=checkbox]:checked + label{
	background-position: 0px -20px;
}

form#survey-form input[type=radio]:checked + label{
	background-position: 0px -60px;
}

form#survey-form #name-label{
	margin-left: ;
}

form#survey-form #name,
form#survey-form #email,
form#survey-form #number{
	display: inline-block;
    /*width: 20%;*/
    float: right;
}

form#survey-form #name-label,
form#survey-form #email-label,
form#survey-form #number-label{
	display: inline-block;
	/*border: 1px solid red;*/
	width: 11%;
	float: left;
	margin-top: 6px;
	padding: 0px 0px 5px 10px;
}


form#survey-form input#name,
form#survey-form input#number{
    font-size: 0.9em;
	background: rgba(255,255,255,0.8);	
    padding: 5px 0px 6px 47px;
    margin: 0px 0px 12px 0px;
    border: none;
    color: #264581;
    width: 80%;
}

form#survey-form input#name:focus,
form#survey-form input#number:focus{
	background-color: #fff;
}

form#survey-form input#email{
	font-size: 0.9em;
	background: rgba(255,255,255,0.8) url(../images/icon_email.svg) no-repeat 7px 6px;
    background-size: 30px 17px;	
    padding: 5px 0px 6px 47px;
    margin: 0px 0px 12px 0px;
    border: none;
    color: #264581;
    width: 80%;
}

form#survey-form input#email:focus{
   background-color: #fff;
}

form#survey-form input[type=submit]{
	font-size: 0.9em;
	color: #fff;
	border: none;
	background-color: #464581; 
	margin: 10px 0px 5px 0px;
	padding: 10px 25px;
	border-radius: 5px; 
	cursor: pointer;
	-webkit-appearance: none;
}

form#survey-form input[type=submit]:hover{
	color: #ffd34c;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}